@tailwind base;
@tailwind components;
@tailwind utilities;

 
  
  body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .hero {
      /* Adjust the background color as desired */
    height: 300%; /* Adjust the height as needed */
    margin-left: 10%;
    margin-right:10%;
    align-items: center;
    justify-content: center;
   
    
  }
  
  .container {
    max-width: 1200px; 
    padding: 0px;
    border: round;
  ;
  }
  .navbar {
    margin-left: 10%;
    margin-right: 10%;

  }
  .footer{
    margin-left: 10%;
    margin-right: 10%;
  }
   